body {
	background: #000;
    margin: 0;
    color: #fff;
    overflow: hidden;
    font-family: 'Almendra', serif;
}

/*--OTHER--*/
#mainChat{
    width: 291px;
    height: 500px;
    background-color: rgba(0,0,0,0.7);
    display: none;
    border-left: 10px inset rgb(100, 108, 116);
    border-top: 10px inset rgb(30, 30, 31);
    border-bottom: 10px inset rgb(13, 14, 15);
}

#onlineUsers{
    border-bottom: 1px solid rgb(98, 115, 128);
}

#chatArea{
    width: 290px; 
    height: 450px; 
    word-break: break-all; 
    overflow-y: auto; 
    overflow-x: hidden;
}

#chatInputBox{
    width: 275px;
}

#ingameChat{
    width: 400px; 
    height:300px; 
    display: none
}

#chatAreaIngame{
    width: 300px; 
    height: 170px; 
    word-break: break-all; 
    overflow-y: auto; 
    overflow-x: hidden;
}

#ingameInputBox{
    width: 189px;
}

#mainFriends{
    width: 290px; 
    height:500px; 
    background-color: rgba(0,0,0,0.7); 
    display: none;
    border-right: 10px inset rgb(48, 48, 49);
    border-top: 10px inset rgb(30, 30, 31);
    border-bottom: 10px inset rgb(30, 32, 38);
}

#msgFriendArea{
    border-bottom: 1px solid rgb(98, 115, 128);
    word-break: break-all;
    overflow: hidden;
    height: 25px;
}

#friendsArea{
    width: 270px; 
    height: 390px; 
    word-break: break-all; 
    overflow-y: auto; 
    overflow-x: hidden;
    margin: 10px 10px 10px 10px;
}

#friendInputBoxDelete{
    width: 275px;
}

#friendInputBox{
    width: 275px;
}
/*--OTHER--*/

/*MAINPANEL*/
#mainPanelContainer{
    display:none;
    height: 300px;
    width: 400px;
    background: rgba(0,0,0,0.9);
    -webkit-border-radius: 6px;
    transition: height 0.5s ease-in-out;
}

#logo{
    background-image: url(assets/img/logo-l.png);
    position: absolute;
    top: -37.5%; left: 0; bottom: 0; right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: top 0.5s ease-in-out;
}

div.messageAreaLogin{
    position: absolute;
    margin: auto;
    top: 20%; left: 0; bottom: 0; right: 0;
    width: 95%;
    height: 0%;
}

div.messageAreaRegister{
    display:none;
    position: absolute;
    margin: auto;
    top: 0%; left: 0; bottom: 0; right: 0;
    width: 95%;
    height: 0%;
}
/*--MAINPANEL--*/

/*INPUT*/
input {
    margin-bottom: 10px;
    margin-right: 5px;
    border: dashed 1px #fff;
    transition: background-color 0.5s ease-in-out;
    background-color: rgba(255,255,255,0);
    padding:5px;
    width: 250px;
    color: #fff;
    -webkit-border-radius: 6px;
    outline-style: none;
}

input.text:hover {
    background-color: rgba(255,255,255,0.1);
}
/*--INPUT--*/

/*BUTTONS*/
input.btnMain{
    background-color: rgba(255,255,255,0);
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    cursor: hand;
    box-shadow: none;
    z-index: 100000;
}

input.btnLogin {
    background-image: url(assets/img/buttons/cssLogin.png);
}

input.btnRegister {
    background-image: url(assets/img/buttons/cssRegister.png);
}

input.btnBack {
    background-image: url(assets/img/buttons/cssBack.png);
}

#customBtn {
	position: absolute;
    display: inline-block;
    background: #dd4b39;
    color: white;
    border-radius: 3px;
    white-space: nowrap;
    width: 90px;
    margin: 0 auto;
    margin-left: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: #D7D7D7;
    border-color: rgba(155, 155, 155, 0.3);
}
#customBtn:hover {
  background: #e74b37;
  cursor: pointer;
}
span.icon {
    background: url('https://developers.google.com/+/images/branding/btn_red_32.png') transparent 2px 50% no-repeat;
    background-size: 23px;
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    border-right: #DADADA 1px solid;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}      

/*--BUTTONS--*/

/*--SCROLLBAR--*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #4F4664;
    /*border-left: 1px solid #ccc;*/
}
::-webkit-scrollbar-thumb {
    background-color: #323259;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
/*--SCROLLBAR--*/