body {
	background: #000;
}

#center {
	width: 1280px;
	height: 720px;
	margin: 0px auto;
	border: 1px solid #4F4E4D;
}

.loading {
	position: relative;
}

.loading:after {
	content: url("../img/loading.gif");
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -51px;
	opacity: 0.8;
}
